<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<html>
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>
    <main layout:fragment="content" class="container">
        <section class="row">
            <div class="col s12">
                <h1 class="flow-text center">ERROR！</h1>
                <p class="center">由于各种原因，反正就是报错了。</p>
            </div>
        </section>
    </main>
</body>
</html>