<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/offline">
<head>
<title>川农表白墙</title>
</head>
<body>
	<main layout:fragment="content">
	<article class="container">
		<header class="row">
			<center><img src="http://localhost:8080/img/love.gif" style="margin-top: 10%;" /></center>
			<h1 class="flow-text center" style="font-weight: bold;">追求真理！</h1>
			<h1 class="flow-text center" style="font-weight: bold;">造福社会！</h1>
			<h1 class="flow-text center" style="font-weight: bold;">自强不息！</h1>
		</header>
	</article>
	</main>
</body>
</html>
